<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>VSB</title>
  <link rel="icon" href="/uploads/logo.png" />
  <link href="/css/bootstrap.css" rel="stylesheet" />
  <link href="/css/css.css" rel="stylesheet" />
  <script src="/js/bootstrap.bundle.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="https://unpkg.com/vue@2.2.6/dist/vue.js"></script>
  <!-- CDN AXIOS -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div id="app">
    <div v-for="info in data">
      <div v-for="user in users">
        <header>
          <div v-if="user.role === 'student'" class="d-inline">
            <nav class="navbar navbar-expand-lg navbar-light p-0" id="backgroud_nav">
              <div class="container-fluid ">
                <a class="navbar-brand" :href="'/home/' + user.user_id">
                  <img src="/uploads/logo.png" alt="" width="45px" height="45px" />
                </a>
                <div class="d-flex">
                  <a class="navbar-brand my-auto ms-auto myAnimNav" :href="'/allcourse/'
                  + user.user_id">
                    <span class="text_nav navhover">
                      All Course
                    </span>
                  </a>
                  <a class="navbar-brand my-auto ms-auto myAnimNav" :href="'/allcourse/' + user.user_id +
                    '/mycourse'">
                    <span class="text_nav navhover">
                      My Course
                    </span>
                  </a>
                  <a class="my-auto ms-auto text_nav myAnimNav" :href="'/mycart/' + user.user_id">
                    <span class="navhover">
                      My Cart</span>
                  </a>
                  <li class="nav dropdown">

                    <a class="nav-link dropdown-toggle my-auto ms-auto text_nav navhover myAnimNav" href="#"
                      id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <span>
                        <img :src="user.image" alt="" width="45" height="45" class="d-inline-block imgNav" />
                        {{user.user_fname}}</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                      <li>
                        <a class="dropdown-item" :href="'/profile/' +
                          user.user_id + '/'">Profile</a>
                      </li>
                      <li>
                        <a class="dropdown-item" :href="'/sign-out/' + user.user_id">Logout</a>
                      </li>
                    </ul>
                </div>
            </nav>

          </div>
          <div v-else-if="user.role === 'teacher'" class="d-inline">
            <nav class="navbar navbar-expand-lg navbar-light p-0" id="backgroud_nav">
              <div class="container-fluid">
                <a class="navbar-brand" :href="'/home/' + user.user_id">
                  <img src="/uploads/logo.png" alt="" width="45" height="45" />
                </a>
                <div class="d-flex">
                  <a class="text_nav myAnimNav my-auto ms-auto" :href="'/teacher/' + user.user_id">
                    My Course
                  </a>
                  <li class="nav dropdown">
                    <a class="nav-link dropdown-toggle text_nav my-auto ms-auto myAnimNav" href="#"
                      id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <img :src="user.image" alt="" width="45" height="45" class="d-inline-block imgNav" />
                      {{ user.user_fname }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                      <li>
                        <a class="dropdown-item" :href="'/profile/' +
                          user.user_id + '/'">Profile</a>
                      </li>
                      <li>
                        <a class="dropdown-item" :href="'/sign-out/' + user.user_id">Logout</a>
                      </li>
                    </ul>
                  </li>
                </div>
              </div>
            </nav>
          </div>
        </header>
      </div>

      <img :src="info.preview_img" alt="404 NOT FOUND" width="100%" height="450">
      <div class="container">
        <div class="row mt-5">
          <div class="col-md-7 col-sm-12">
            <div class="row">
              <div class="card" style="width: 38rem;">
                <div class="card-body">
                  <h3 class="card-title">{{info.course_name}}</h3>
                  <p class="card-text"> {{info.course_info}} </p>
                  <img :src="info.teacher_image" width="60" height="60" alt="">
                  <span> {{info.teacher_fname+ ' '+ info.teacher_lname}}</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 ps-0">
                <div class="card border-trans" style="width:
                    28rem;">
                  <div class="card-body">
                    <h5 class="card-title">Description</h5>
                    <p class="card-text">
                      {{info.course_des}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 ps-0">
                <div class="card border-trans" style="width:
                    35rem;">
                  <div class="card-body">
                    <h5 class="card-title">What you'll
                      learn</h5>
                    <div class="row">
                      <div class="col-sm-6">
                        <p><i class="bi
                              bi-check-lg"></i> {{info.learn1}}</p>
                        <p><i class="bi
                              bi-check-lg"></i> {{info.learn2}}</p>
                      </div>
                      <div class="col-sm-6">
                        <p><i class="bi
                              bi-check-lg"></i> {{info.learn3}}</p>
                        <p><i class="bi
                              bi-check-lg"></i> {{info.learn4}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <h5><b>Instructors</b></h5>
            </div>
            <div class="row">
              <div class="card mb-3" style="max-width:
                  520px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <div class="text-center mt-4">
                      <img :src="info.teacher_image" class="img-fluid rounded-circle" alt="..." width="130"
                        height="130">
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <br>
                      <p><i class="bi bi-person-square me-2"></i>{{info.teacher_fname + ' ' + info.teacher_lname}}</p>
                      <p><i class="bi bi-caret-right-fill me-2"></i>{{info.position}} </p>
                      <br>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="card border-trans">
                <div class="card-body ps-0">
                  <p> {{info.teacher_des}} </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-sm-12" v-for="user in users">
            <div v-if="user.role === 'student'" class="d-inline">
              <div class="card gray" style="width: 100%;">
                <div class="text-center mt-3">
                  <div class="text-center mt-3">
                    <iframe width="442" height="245" :src="info.preview_video" title="YouTube video player"
                      frameborder="0" allow="accelerometer;
                        autoplay;
                        clipboard-write;
                        encrypted-media; gyroscope;
                        picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>
                <div class="card-body">
                  <div class="row">
                    <h5 class="card-title"><b> {{info.course_price+'฿'}} </b></h5>
                  </div>
                  <div class="row my-2 mb-3" v-if="cart == 0">
                    <div class="col-sm-6 d-grid gap-2">
                      <a :href="'create/cart/' + user.user_id + '/' + info.course_price" class="button btn btn-primary"
                        type="button">Add to cart</a>
                    </div>
                    <div class="col-sm-6 d-grid gap-2">
                      <a :href="'/course/'+ data[0].course_id +'/create/cart/' + user.user_id + '/' + info.course_price + '/buynow'"
                        class="button btn btn-danger">Buy now</a>
                    </div>
                  </div>

                  <div class="row my-2 mb-3" v-if="cart != 0">
                    <div class="col-sm-6 d-grid gap-2">
                      <a @click="alertCart = 1" class="button btn btn-primary" type="button">Add to cart</a>
                    </div>
                    <div class="col-sm-6 d-grid gap-2">
                      <a :href="'/mycart/' + user.user_id" class="button btn btn-danger">Buy now</a>
                    </div>
                    <span class="alert alert-danger alert-dismissible fade show mt-4 mb-0" role="alert"
                      v-if="alertCart == 1">
                      <a @click="alertCart = 0" type="button" class="btn-close"></a>
                      <strong>This course already in cart</strong>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div v-if="user.role === 'teacher'" class="d-inline">
              <div v-if="info.teacher_fname === user.user_fname && info.teacher_lname === user.user_lname">
                <button class="mb-3 bg-warning" style="border-radius: 10px; padding: 20px;" data-bs-toggle="modal"
                  data-bs-target="#upload_document">
                  Upload Document</button>
              </div>
              <div class="modal fade" id="upload_document" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Upload Document</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form class="needs-validation" novalidate enctype="multipart/form-data">

                        <div class="file mb-3">
                          <input class="file-input" type="file" id="pdf-file" name="document" @change="selectFile"
                            accept="application/pdf" />
                          <!-- <div class="invalid-feedback"> Please choose your document. </div> -->
                          <button @click="uploadDocument(info.course_id, user.user_id)"
                            class="btn btn-warning">Upload</button>
                        </div>

                      </form>
                    </div>
                    <div class="modal-footer">


                    </div>

                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Your Documents</h5>
                    </div>

                    <div class="modal-body" v-for="(doc, index) in document">
                      <i class="fa-regular fa-file-pdf"></i>
                      <a class="sets" style="text-decoration: none; color: black;"
                        :href="'http://localhost:3000' + doc.document_name.replace('\\', '/')" download>
                        Documents{{index + 1}} </a>
                      <i class="fas fa-trash-alt ml-3 sets"
                        style="font-size: 20px; float: right; margin-right: 40px; margin-top: 10px;"
                        data-bs-toggle="modal" data-bs-target="#delete_document_teacher"
                        @click="modalDeleteDocument(doc.document_id)"></i>
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card gray pb-3" style="width: 100%;">
                <div class="text-center">
                  <h5 class="card-header bg-warning">Preview</h5>
                  <div class="text-center mt-3">
                    <iframe width="442" height="245" :src="info.preview_video" title="YouTube video player"
                      frameborder="0" allow="accelerometer;
                      autoplay;
                      clipboard-write;
                      encrypted-media; gyroscope;
                      picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>
              </div>

              <div class="col-md-12 col-sm-12 my-3">
                <div class="list-group">
                  <div class="list-group-item bg-secondary text-light" aria-current="true">
                    Course content
                  </div>
                  <div v-for="(videos,index) in video">
                    <a @click="learn(videos, index)" class="list-group-item list-group-item-action"
                      data-bs-toggle="modal" data-bs-target="#video">
                      <div class="row">
                        <div class="col-sm-7">
                          <iframe :src="videos.path" width="270" height="150" title="YouTube video player"
                            frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                          encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="col-sm-5">
                          <h5 class="mt-4">{{info.course_name +' part'}} {{parseInt(index)+1}}</h5>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>

              <!-- Modal -->
              <div class="modal fade" id="video" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl text-center">
                  <div class="modal-content">
                    <div class="modal-header bg-warning">
                      <h5 class="modal-title" id="staticBackdropLabel"><b>{{name_content}}</b></h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <iframe :src="video_content" width="942" height="530" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write;
                        encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- ADD LIKE -->
            <div class="my-3 text-center py-3" style="background-color: pink; border-radius: 20px;">
              <div style="font-size: 100px;">
                <a @click="addLikeCourse(info.course_id, users[0].user_id)"><i
                    class="bi bi-suit-heart-fill text-danger"></i> </a>
              </div>
              <div class="fs-3">{{info.like}} Liked</div>
            </div>
          </div>
        </div>
        <div class="col-6 text-center">
          <button type="button" class="mb-3 bg-info" style="border-radius: 10px; padding: 20px;"
            data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="bi bi-people-fill"></i> นักเรียนในคอร์สนี้
          </button>
        </div>

        <div v-for="user in users">
          <!-- show comment -->
          <div>
            <div style="border-bottom: 5px solid gray">
              <h3>COMMENTS</h3>
            </div>
            <div class="mt-3 row bg-light" style="border-radius: 10px;" v-for="(info, index) in comment">
              <div class="col-3 col-sm-3 col-md-2 text-center mt-2 mb-2"> <img :src="info.image"
                  style="width:100px; height:100px; object-fit:cover;" /> </div>
              <div class="col-9 col-sm-9 col-md-10 mt-2 position-relative">
                <h5>{{info.user_fname}} {{info.user_lname}}
                  <span class="badge bg-success" v-if="info.role === 'student'">{{info.role}}</span>
                  <span class="badge bg-warning" v-if="info.role === 'teacher'">{{info.role}}</span>
                </h5>
                <span class="text-muted position-absolute top-0 end-0 me-2"> On {{info.comm_date.substring(0, 10)}} at
                  {{info.comm_date.substring(11, 16)}}</span>
                <p>{{info.comment}}</p>
                <div class="position-absolute bottom-0 end-0 fs-3 mb-2 me-2 text-danger"
                  v-if="info.user_id == users[0].user_id || user.role == 'teacher'"> <a
                    @click="deleteComment(info.comment_course_id, users[0].user_id, info.id, index)"> <i
                      class="bi bi-trash-fill"></i> </a> </div>
              </div>
            </div>
          </div>

          <!-- add comment -->
          <div class="text-center" v-if="comment_bnt === 1"> <button @click="comment_bnt = 0"
              class="btn btn-light mt-4">ADD COMMENTS</button></div>
          <div class="text-center" v-if="comment_bnt === 0">
            <div class="mt-3 row bg-light" style="border-radius: 10px;">
              <span class="col-3 col-sm-3 col-md-2 text-center mt-2 mb-2"> <img :src="users[0].image"
                  style="width:100px; height:100px; object-fit:cover;" /> </span>
              <span class="col-9 col-sm-9 col-md-10 text-start mt-2">
                <h5>{{users[0].user_fname}} {{users[0].user_lname}}</h5>
                <input v-model="commTxt" type="text" class="form-control">
              </span>
            </div>
            <button @click="addComment(data[0].course_id, users[0].user_id)"
              class="btn btn-success mt-4 submit">SUBMIT</button>
            <button class="btn btn-danger mt-4" @click="comment_bnt = 1, commTxt = ''">CANCLE</button>
          </div>
        </div>
      </div>
    </div>
    <br>
    <footer class="mt-5 footer bg-light">
      <div class="container" v-for="user in users">
        <div class="row">
          <div class="col-md-4 col-xs-12">
            <div class="my-3">
              <h4>Course Recommendation</h4>
              <div class="line1"></div>
              <div class="my-3">
                <a class="text-decoration-none text-dark" :href="'/course/3/' + user.user_id">
                  <p class="ms-3"> Web Design for Beginners</p>
                </a>
                <a class="text-decoration-none text-dark" :href="'/course/15/' + user.user_id">
                  <p class="ms-3"> Cyber Security </p>
                </a>
                <a class="text-decoration-none text-dark" :href="'/course/4/' + user.user_id">
                  <p class="ms-3"> IELTS Full Course </p>
                </a>
                <a class="text-decoration-none text-dark" :href="'/course/7/' + user.user_id">
                  <p class="ms-3"> SQL- Database Programming </p>
                </a>
                <a class="text-decoration-none text-dark" :href="'/course/6/' + user.user_id">
                  <p class="ms-3"> C++ Programming Course </p>
                </a>
                <a class="text-decoration-none text-dark" :href="'/course/10/' + user.user_id">
                  <p class="ms-3"> Digital marketing </p>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-xs-12">
            <div class="my-3 text-center">
              <h4> Navigate</h4>
              <div class="line2"></div>
              <div class="my-3">
                <a :href="'/home/' + user.user_id" class="text-decoration-none text-dark">
                  <p>Home</p>
                </a>
                <a class="text-decoration-none text-dark" :href="'/allcourse/' + user.user_id">
                  <p>All Courses</p>
                </a>
                <a v-if="user.role == 'student'" class="text-decoration-none text-dark"
                  :href="'/allcourse/' + user.user_id + '/mycourse'">
                  <p>My Course</p>
                </a>
                <a v-else-if="user.role == 'teacher'" class="text-decoration-none text-dark"
                  :href="'/teacher/' + user.user_id">
                  <p>My Course</p>
                </a>
                <a v-if="user.role == 'student'" class="text-decoration-none text-dark"
                  :href="'/mycart/' + user.user_id">
                  <p>My cart</p>
                </a>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-xs-12">
            <div class="my-3 text-center">
              <h4> Contact </h4>
              <div class="line2"></div>
              <div class="my-3">
                <p><i class="text-primary bi bi-envelope-fill"></i> VSB@email.com</p>
                <p><i class="text-success bi bi-telephone-fill"></i> 02-333-22-32</p>
                <p><i class="text-warning bi bi-geo-alt-fill"></i> Ministry of Magic Headquarters, Whitehall, London</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-12">
            <hr>
            <div class="my-3 text-center iconfooter">
              <a class="text-decoration-none" href="https://www.facebook.com/harrypottermovie">
                <i class="bi bi-facebook text-primary mx-2"></i>
              </a>
              <a class="text-decoration-none" href="https://twitter.com/HarryPotterFilm">
                <i class="bi bi-twitter text-info mx-2"></i>
              </a>
              <a class="text-decoration-none" href="https://github.com/ChutimaNakaew/Project_VSB">
                <i class="bi bi-github text-dark mx-2"></i>
              </a>
              <a class="text-decoration-none" href="https://www.linkedin.com/in/harry-potter-9b3b89102/">
                <i class="bi bi-linkedin text-primary mx-2"></i>
              </a>
              <a class="text-decoration-none" href="https://www.youtube.com/watch?v=z4K2F_OALPQ">
                <i class="bi bi-youtube text-danger mx-2"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="modal fade" id="delete_document_teacher" data-bs-backdrop="static" data-bs-keyboard="false"
      tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog" style="width: 450px; margin-top: 180px;">
        <div class="modal-content" style="border: #ffc107 2px solid; border-radius: 6px;">
          <center>
            <div class="modal-body">
              <h5 class="modal-title" style="margin-bottom: 30px;">Do you want to delete your document?</h5>

              <button class="btn btn-warning" style="margin-right: 20px;"
                @click="deleteDocument(data.course_id, deletedocument)">
                Confirm
              </button>

              <button class="btn btn-secondary" data-bs-dismiss="modal" style="margin-left: 20px;">
                Cancel
              </button>
            </div>
          </center>

        </div>
      </div>

    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">นักเรียนในคอร์สนี้</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mt-3 row bg-light" style="border-radius: 10px;" v-for="(info, index) in student">
              <div class="col-3 col-sm-3 col-md-2 text-center mt-2 mb-2"> <img :src="info.image"
                  style="width:70px; height:70px; object-fit:cover;" /> </div>
              <div class="col-9 col-sm-9 col-md-10 mt-2 position-relative">
                <h5> {{parseInt(index)+1}}. {{info.user_fname}} {{info.user_lname}}
                  <span class="badge bg-success" v-if="info.role === 'student'">{{info.role}}</span>
                  <span class="badge bg-warning" v-if="info.role === 'teacher'">{{info.role}}</span>
                </h5>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  var app = new Vue({
    el: "#app",
    data: {
      data: JSON.parse(`<%- data %>`),
      users: JSON.parse(`<%- users %>`),
      comment: JSON.parse(`<%- comment %>`),
      check: JSON.parse(`<%- check %>`),
      cart: JSON.parse(`<%- cart %>`),
      video: JSON.parse(`<%- video %>`),
      student: JSON.parse(`<%- student %>`),
      comment_bnt: 1,
      commTxt: "",
      alertCart: 0,
      video_content: "",
      name_content: "",
      file: "",
      document: "",
      deletedocument: null,
    },
    mounted() {

      var url = window.location.pathname;
      var course_id = url.split('/')[2];
      this.getDocumentForTeacher(course_id)

    },
    methods: {
      deleteDocument(courseId, documentId) {
        axios
          .delete(`http://localhost:3000/deletedocument/${courseId}/${documentId}`)
          .then((response) => {
            console.log(response)
            window.location.reload();
          })
          .catch((error) => {
            console.log(error)
          });
      },
      modalDeleteDocument(documentId) {
        this.deletedocument = documentId;
        console.log(documentId);
      },
      getDocumentForTeacher(courseID) {
        axios
          .get(`http://localhost:3000/getdocumentteacher/${courseID}`)
          .then((response) => {
            this.document = response.data
            console.log(response)
          })
          .catch((error) => {
            console.log(error)
          })
      },
      selectFile(event) {
        this.file = event.target.files[0];
      },
      uploadDocument(courseID, userID) {
        const formData = new FormData();
        formData.append("document", this.file);
        axios
          .post(`http://localhost:3000/adddocument/${courseID}/${userID}`, formData)
          .then((response) => {
            console.log(response)
          })
          .catch((error) => {
            console.log(error)
          })

      },
      learn(videos, index) {
        this.video_content = videos.path
        this.name_content = videos.course_name + ': Part ' + parseInt(index + 1)
      },
      addLikeCourse(courseID, userID) {
        axios
          .put(`http://localhost:3000/course/${courseID}/${userID}`)
          .then((response) => {
            console.log("ADD LIKE SUCCES");
            let info = this.data[0]
            info.like = response.data.like

          })
          .catch((error) => (this.error = error.message));
      },
      addComment(courseID, userID) {
        if (this.commTxt == "") {
          window.alert("Please fill comment")
        } else {
          axios
            .post(`http://localhost:3000/course/${courseID}/${userID}`, {
              comment: this.commTxt,
            })
            .then((response) => {
              this.commTxt = ''
              this.comment.push(response.data);
              this.comment_bnt = 1
            })
            .catch((error) => {
              this.error = error.response.data.message;
            });
        }
      },
      deleteComment(courseID, userID, commentID, index) {
        const result = confirm(`Are you sure you want to delete '${this.comment[index].comment}'`);
        if (result) {
          console.log(this.comment[index].id)
          axios
            .delete(`http://localhost:3000/course/${courseID}/${userID}/${commentID}`)
            .then((response) => {
              console.log(response);
              this.comment.splice(index, 1);
            })
            .catch((error) => {
              this.error = error.message;
            });
        }
      },

    }
  })
</script>
<style>
  .sets:hover {
    color: #ffc107 !important;
  }
</style>

</html>